/* Note: since there are so many colors I threw them down near the bottom */

/* DOM General */

.hidden {
	display: none;
}
body {
	background-color: #03090E;
}

/* Social Weigh-In General */

#socialWeighIn {
	background-color: #f7f7f7;
}

/* Card General */

#articleTeaser {
		width:100vw;

	height:100vh;
	background-color: #03090E;
}
#articleTeaser .item {
	height:89vh;
	padding-top: 50px;
}
.teaserInfo {
	font-size: 38px;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 20px;
}
.owl-prev,
.owl-next {
	color: #fff;
	padding: 8px 18% 8px 18%;
	display: inline-block;
	margin: 4% 1.5% 4% 1.5%;
	border: 1px solid #fff;
	border-radius: 3px;
}

/*.social {
	display: inline-block;
	min-height: 40px;
	min-width: 60px;
	margin-right: 3px;
	color: gray;
}*/

/* Article General */

#article {
	height: 100vh;
	font-family: Helvetica;
	background-color: #f7f7f7;
	color: #2a2a2a;
}
.titleAnd img {
	width:100%;
}
#article .item {
	width: 100% !important;
	color: #2a2a2a;
	background-color: #f7f7f7;
}
.titleAnd h4 {
	color: #5B94D4;
}

/* Card Color General */

.cOne {
	color: #fff;
	background-color: #263147;
}
.cOne h5 {
	color: #fff;
}
.cTwo {
	color: #fff;
	background-color: #738aa1;
}
.cTwo h5 {
	color: #fff;
}
.cThree {
	color: #fff;
	background-color: #f8971c;
}
.cThree h5 {
	color: #fff;
}
.cFour {
	color: #fff;
	background-color: #385d81;
}
.cFour h5 {
	color: #fff;
}
.cFive {
	color: #fff;
	background-color: #abc7e1;
}
.cFive h5 {
	color: #fff;
}
.cSix {
	color: #fff;
	background-color: #f05522;
}
.cSix h5 {
	color: #fff;
}
.cSeven {
	color: #fff;
	background-color: #f9af7e;
}
.cSeven h5 {
	color: #fff;
}


/* Animations General */

.currOnSwipeLeft {
  -webkit-animation: currSwipeLeft .3s ease;
  -moz-animation: currSwipeLeft .3s ease;
}

.nextUp {
  -webkit-animation: nextUp 1s ease;
  -moz-animation: nextUp 1s ease;
}

.synced {
  -webkit-animation: synced .2s forwards;
  -moz-animation: synced .2s forwards;
}

@-webkit-keyframes synced {
  	0% { opacity: 0; -webkit-transform: translate3d(-385px, 0px, 0px); transform: translateX(-385px, 0px, 0px); }
  	10% { -webkit-transform: translate3d(-385px, 0px, 0px); transform: translateX(-385px, 0px, 0px) ;}
/*  	10% { opacity: 0;}
  	50% { opacity: 0.2;}*/
  	100% { opacity: 1; }
}
.leaving {
  -webkit-animation: leaving .1s ease;
  -moz-animation: leaving .1s ease;
}

@-webkit-keyframes leaving {
  	0% { opacity: 0; -webkit-transform: translate3d(385px, 0px, 0px); transform: translateX(385px, 0px, 0px); }
  	10% { opacity: 0;}
  	50% { opacity: 0.2;}
  	100% { opacity: 1; }
}

/*@keyframes synced {
  	0% { opacity: 0; }
  	100% { opacity: 1; }
}*/

@-webkit-keyframes currSwipeLeft {
  	0% { opacity: 1; -webkit-transform: translate3d(-385px, 0px, 0px); transform: translateX(-385px, 0px, 0px); }
  	100% { opacity: 1; -webkit-transform: translateX(); transform: translateX(); }
}

@keyframes currSwipeLeft {
  	0% { opacity: 1; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  	100% { opacity: 1; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes nextUp {
	0% { opacity: 1; -webkit-transform: translateX(100%); transform: translateX(100%); }
  	100% { opacity: 1; -webkit-transform: translateX(); transform: translateX(); }
  	/*0% { opacity: 1; -webkit-transform: scale3d(.95, .95, .95); transform: scale3d(.95, .95, .95); }
  	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }*/
}

@keyframes nextUp {
	/*0% { opacity: 1; -webkit-transform: translateX(); transform: translateX(); }
  	100% { opacity: 1; -webkit-transform: translateX(-100%); transform: translateX(-100%); }*/
  	/*0% { opacity: 1; -webkit-transform: scale3d(.95, .95, .95); transform: scale3d(.95, .95, .95); }
  	100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }*/
}


.articleIn {
  -webkit-animation: articleIn .3s ease both;
  -moz-animation: articleIn .3s ease both;
}

@-webkit-keyframes articleIn {
  0% { -webkit-transform: translateY(0%); transform: translateY(0%) }
  100% { -webkit-transform: translateY(-100vh); transform: translateY(-100vh) }
}

@keyframes articleIn {
  0% { -webkit-transform: translateY(0%); transform: translateY(0%) }
  100% { -webkit-transform: translateY(-100vh); transform: translateY(-100vh) }
}

.articleOut {
  -webkit-animation: articleOut .3s ease;
  -moz-animation: articleOut .3s ease;
}

@-webkit-keyframes articleOut {
  0% { -webkit-transform: translateY(0%); transform: translateY(0%) }
  100% { -webkit-transform: translateY(100vh); transform: translateY(100vh) }
}

@keyframes articleOut {
  0% { -webkit-transform: translateY(0%); transform: translateY(0%) }
  100% { -webkit-transform: translateY(100vh); transform: translateY(100vh) }
}
